h1 {
	text-align: center;
	color: blue;
}

.row1 {
	height: 20%;
	border:1px solid black
}
.row2 {
	height: 20%;
	border:1px solid black
}
.row3 {
	height: 20%;
	border:1px solid black
}
.row4 {
	height: 20%;
	border:1px solid black
}
.col5 {
	height: 20%;
	border:1px solid black
}
#secret {
	font-size: 4em;
	letter-spacing: 0,5em;
}